<div id="site-intro" {{#if @blog.cover}} class="left-style covered" style="background-image: url({{@blog.cover}})"{{else}}class="left-style"{{/if}}>
	<div class="intro-wrap">
		<div class="intro-text">
			<div class="welcome-text style1">
				<div class="line1">Howdy</div>
                <!--<div class="line2">Welcome to {{@blog.title}}!</div>-->
				<div class="line3">{{@blog.description}}</div>
			</div>			
			<div class="action-list">
				<a class="action-btn highlight go-to-blog" href="#start">
					Read Posts <i class="fa fa-chevron-down"></i>
				</a>	
				<a class="action-btn" href="{{@blog.url}}/resume/">
					My Resume <i class="fa fa-file-text-o"></i>
                </a>	
                <a class="action-btn" href="{{@blog.url}}/about-the-image">
                    Image Story<i class="fa fa-picture-o"></i>
                </a>
			</div>
		</div>		
	</div>	
</div>
